/.idea/.idea.TTSForStreamers/.idea/.gitignore
/.idea/.idea.TTSForStreamers/.idea/.name
/.idea/config/applicationhost.config
/.idea/.idea.TTSForStreamers/.idea/encodings.xml
/.idea/.idea.TTSForStreamers/.idea/indexLayout.xml
/.idea/.idea.TTSForStreamers/.idea/projectSettingsUpdater.xml
/.idea/.idea.TTSForStreamers/.idea/vcs.xml
/.idea/.idea.TTSForStreamers/.idea/workspace.xml
/.idea/.idea.WebApplication2/.idea/workspace.xml
