# Результирующие файлы сборки
bin/
obj/

# Файлы Rider
.idea/
*.suo
*.user
*.userprefs
*.layout
*.csproj.user

# Файлы Visual Studio
.vs/
*.cache
*.log

# NuGet
packages/
*.nupkg
*.snupkg

# Другие временные файлы
_ReSharper.*/
*.VC.db
*.VC.opendb
